#project-form-container{width:550px}#project-form-container .offcanvas-header .btn-close:hover{transform:scale(1.2)}



#issue-form-container{
    width: 550px;

    .labels{
        margin-left: 15px;

        label{
            margin-right: 20px;
            font-size: 1rem;
            font-weight: 600;
        }
    }
}