.navbar {
  background: linear-gradient(135deg, #93b1a6 50%, #040d12 50%);
}
.navbar .container-fluid {
  padding: 0 50px 0px 30px;
}
.navbar .container-fluid img {
  border-radius: 10px;
}
.navbar .container-fluid img:hover {
  cursor: pointer;
}
.navbar .container-fluid img:active {
  transform: scale(1.05);
}
.navbar .container-fluid button:active {
  transform: scale(1.05);
}
